<div class="max-w-screen-x1 px-1 bun-container">
    <section class="sidebar">
        <ol>
            <li><a href="#what-is-bun">What?</a></li>
            <li><a href="">What?</a></li>
            <li><a href="">What?</a></li>
            <li><a href="">What?</a></li>
            <li><a href="">What?</a></li>
        </ol>
    </section>
    <div class="blog-content">
        <header>
            <h1 class="title_annotation">{{'screen.blog.bun.whatIsBun' | translate}}</h1>
        </header>
        <div class="container">
            <main id="what-is-bun">
                <!-- <mat-icon svgIcon="icon-facebook"></mat-icon> -->
                <p>{{"screen.blog.bun.definition" | translate}}</p><br>
                <p>{{"screen.blog.bun.desc" | translate}}</p>
            </main>
        </div>
    </div>
</div>
