@import './styles/scss/common.scss';
@import './styles/variable.scss';

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { 
        margin: 0; 
        padding: 0;
        * {
            margin: 0; 
            padding: 0;
            font-family: 'Lora', serif;
            font-size: 1.2rem;
            line-height: 2rem;
            letter-spacing: 1px; 
        }
}

ul {
    // list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.f-vw {
    width: 100vw;
}

.f-vh {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

p {
    padding: 0;
}

ol,
ul,
dl {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
    background-color: $light;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $gray-dark;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 4px;
    width: 1px;
    height: 6px;
}

.max-w-screen-x1 {
    max-width: 1280px;
    margin: 0 auto;
}

.pd-header {
    padding-top: calc($header-height + 24px);
}

.pf-12 {
    padding: 12px;
}

.pf-24 {
    padding: 24px;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title_annotation {
    background: linear-gradient(-45deg, #dfb79e, #dfb79e, #2b0413, #2b0413, #e25d52, #e25d52);
    background-size: 300%;
    font-family: arial, helvetica, sans-serif;
    font-weight: 900;
    font-size: 5vw;
    letter-spacing: -5px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
    line-height: 100%;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0px 50%;
    }
}
